@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.bold {
    font-family: Roboto;
    font-weight: 400;
    line-height: 21px;
}

.bold-2 {
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}

.bold-3 {
    font-weight: 700;
}