.dashboard {

    article {
        display: grid;
        place-items: center;
        place-content: center;
        height: 96px;
        width: 154px;
        border: 1px solid $secondary-bg-color;
        border-radius: $border-radius-1;

        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 44.5px;
            margin-bottom: -0.3rem;
        }

        .skeleton {
            @include skeleton;
        }



    }

}